@media (min-width: 480px) {
  .categories__list-desk {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .categories__list-nominate

 {
    display: grid
;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}
}

@media screen and  (min-width: 545px) {
 
  .categories__list-nominate

 {
    display: grid
;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
}

@media screen and (min-width: 768px) {
  .hero__data {
    max-width: 700px;
    padding-bottom: 226px;
  }

  .hero__title {
    font-size: 90px;
  }

  .header__content {
    max-width: 768px;
  }

  .content {
    max-width: 768px;
  }
  .powered-by .powered-by__title {
    max-width: 100%;
  }

  .categories__list-desk {
    width: 100%;
  }

  .swiper-slide {
    width: 85%;
  }
  .swiper-slide {
    width: 100vw;
    transform: scale(1);
    /* opacity: 1; */
  }

  .swiper-button-prev {
    left: 13.5% !important;
  }

  .swiper-button-next {
    right: 14.5% !important;
  }

  .swiper-slide.swiper-slide-next,
  .swiper-slide.swiper-slide-prev {
    width: 38% !important;
    height: 375px !important;
    opacity: 0.3;
  }

  .swiper-slide.swiper-slide-active {
    width: 65% !important;
    height: auto;
    opacity: 1;
  }

  .swiper-wrapper {
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .swiper-slide {
    width: 100vw;
    transform: scale(0.8);
    /* opacity: 1; */
  }

  .swiper-slide-active {
    transform: scale(1);
  }

  .swiper-slide::before {
    opacity: 0;
  }

  .header__content {
    max-width: 1024px;
  }

  .hero__data {
    max-width: 1000px;
  }

  .powered-by {
    max-width: 820px;
  }

  .powered-by .powered-by__title {
    max-width: 100%;
  }

  .article {
    display: block;
  }

  .article p {
    color: #f2c94c;
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0;
  }

  .about {
    max-width: 1080px;
  }

  .content {
    max-width: 1024px;
  }

  .hero__buttons {
    gap: 20px;
  }
  .swiper-button-prev {
    left: 13.5% !important;
  }

  .swiper-button-next {
    right: 16.5% !important;
  }
}

@media screen and (min-width: 1279px) {
  .header__content {
    max-width: 1279px;
  }

  .hero__data {
    max-width: 1000px;
    padding-bottom: 250px;
  }

  .powered-by {
    max-width: 820px;
  }

  .about {
    max-width: 1080px;
  }

  .lazy-video {
    margin-left: auto;
    margin-right: auto;
  }

  .content {
    max-width: 1279px;
  }
  .article {
    display: block;
  }

  .article p {
    color: #f2c94c;
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0;
  }

  .footer__menu li,
  .footer__text {
    font-size: 12px;
  }
  .footer__logo {
    display: block;
  }

  .footer__logo img {
    height: 100%;
  }

  /* .footer__content {
    justify-content: space-evenly;
  } */

  .header__menu {
    visibility: hidden;
  }
  .swiper-button-prev {
    left: 13.3% !important;
  }

  .swiper-button-next {
    right: 17.5% !important;
  }

  /* .swiper-slide.swiper-slide-next,
  .swiper-slide.swiper-slide-prev {
    width: 628px !important;
    height: 375px !important;
    opacity: 0.5;
  }
  .swiper-slide.swiper-slide-active {
    width: 898px;
    height: 505px;
    opacity: 1;
  }
  .swiper-wrapper {
    align-items: center;
  } */

 
}

@media screen and (min-width: 1440px) {
  .powered-by {
    max-width: 820px;
  }

  .powered-by .powered-by__title {
    max-width: 100%;
    font-size: 35px;
  }

  .article {
    display: block;
  }

  .about {
    max-width: 1260px;
  }

  .lazy-video {
    margin-left: auto;
    margin-right: auto;
  }

  .article p {
    color: #f2c94c;
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0;
  }

  .content {
    max-width: 1024px;
  }

  .header__content {
    max-width: 1440px;
  }

  /*  */
  .hero__data {
    max-width: 1000px;
    padding-bottom: 250px;
  }

  .hero__buttons {
    flex-direction: row;
    justify-content: center;
  }

  .hero__button {
    margin-right: 0;
    margin-left: 0;
  }

  .powered-by .powered-by__title {
    line-height: 110px;
  }

  .catalog ul {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }

  .features ul {
    grid-template-columns: repeat(3, 1fr);
  }

  .categories__list-desk {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .categories__list-nominate{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: flex-start;
  }

  .categories__list-desk li {
    flex: 1 1 calc(33.333% - 20px);
    max-width: 33.333%;
  }

  .categories__list-nominate li{
   max-width: 100%;
   display: flex
;
        flex-direction: column;
  }

  .criteria ul {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .criteria ul li {
    flex: 1 1 calc(33.333% - 20px);
    max-width: 33.333%;
  }

  .gallery {
    max-width: 100vw;
  }

  .footer__logo {
    display: block;
    max-width: 300px;
  }

  .footer__logo img {
    height: 100%;
  }

  .header__btn-menu {
    display: none;
  }

  .button__header {
    display: block;
    min-width: 170px;
    height: 35px;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    color: #000000;
    border-radius: 5px 0 5px 0;
    padding: 11px;
    margin-left: 40px;
  }

  .header__menu-lists {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    flex: 1 1 auto;
    gap: 30px;
  }

  .header__menu-lists li a {
    display: inline-flex;
    position: relative;
    align-items: center;
    font-weight: 400;
    font-size: 13px;
    line-height: 22.4px;
    text-transform: uppercase;
    color: #f5f5f5;
    transition: all 0.5s;
  }

  .menu-header {
    display: flex;
    margin-left: 200px;
  }

  

  .footer__content {
    max-width: 1280px;
    max-width: 1400px;
    justify-content: space-between;
    padding: 17px 65px;
  }

  .play-button {
    width: 100px;
  }

  .swiper-button-prev {
    left: 17.3% !important;
  }

  .swiper-button-next {
    right: 19% !important;
  }
  .swiper-slide.swiper-slide-next,
  .swiper-slide.swiper-slide-prev {
    width: 42% !important;
    height: 375px !important;
    opacity: 0.3;
  }
  .swiper-slide.swiper-slide-active {
    width: 60% !important;
    height: 505px;
    opacity: 1;
  }
  .swiper-wrapper {
    align-items: center;
  }

  .header__menu-lists li a:hover {
    color: #f2c94c;
  }
}

@media screen and (min-width: 1600px) {
  .swiper-button-next {
    right: 19.5% !important;
  }

  .header__menu-lists li a:hover {
    color: #f2c94c;
  }
}

@media screen and (min-width: 1920px) {
  .powered-by {
    max-width: 820px;
  }

  .powered-by .powered-by__title {
    max-width: 100%;
    font-size: 35px;
  }

  .article {
    display: block;
  }

  .about {
    max-width: 1280px;
  }

  .lazy-video {
    margin-left: auto;
    margin-right: auto;
  }

  .article p {
    color: #f2c94c;
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0;
  }

  /* .content {
    max-width: 1024px;
  } */

  .header__content {
    max-width: 1440px;
  }

  .categories__nominate{
    max-width: 1400px;
   margin-left: auto;
  margin-right: auto; }

  .gallery {
    max-width: 100vw;
  }

  .categories__list-desk {
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-button-prev {
    left: 17.2% !important;
  }

  .swiper-button-next {
    right: 20% !important;
  }

  .header__menu-lists li a:hover {
    color: #f2c94c;
  }
}

@media screen and (min-width: 1970px) {
  .swiper-button-next {
    right: 20.2% !important;
  }
}

@media (min-width: 480px) and (max-width: 1024px) {
  /* .categories__list-desk {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  } */
}

@media (min-width: 580px) and (max-width: 1024px) {
  /* .footer__logo {
    display: block;
    max-width: 150px;
  }

  .footer__logo img {
    height: 100%;
  } */
}

@media (min-width: 768px) and (max-width: 1024px) {
  .catalog ul {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .features ul {
    grid-template-columns: repeat(2, 1fr);
  }

  .criteria ul {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .criteria ul li {
    flex: 1 1 calc(50% - 20px);
    max-width: 50%;
  }

  .categories__list-desk {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .footer__logo {
    display: block;
    max-width: 150px;
  }

  .footer__logo img {
    height: 100%;
  }

  .play-button {
    width: 100px;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .catalog ul {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }

  .features ul {
    grid-template-columns: repeat(3, 1fr);
  }

  .criteria ul {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .criteria ul li {
    flex: 1 1 calc(33.333% - 20px);
    max-width: 33.333%;
  }

  .categories__list-desk {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .categories__list-desk li {
    flex: 1 1 calc(33.333% - 20px);
    max-width: 33.333%;
  }

  .categories__list-nominate{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: flex-start;
  }

 

  .categories__list-nominate li{
   max-width: 100%;
  }

  .hero__buttons {
    flex-direction: row;
    justify-content: center;
  }

  .hero__button {
    margin-right: 0;
    margin-left: 0;
  }

  .powered-by .powered-by__title {
    max-width: 100%;
    font-size: 35px;
    line-height: 110px;
  }
}

@media (min-width: 768px) and (max-width: 1214px ) {
  .categories__list-nominate{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: flex-start;
  }



  .categories__list-nominate li{
   max-width: 100%;
           display: flex
;
        flex-direction: column;
  }}

@media (min-width: 1279px) and (max-width: 1440px) {
  .hero__data {
    max-width: 1000px;
    padding-bottom: 280px;
  }

  .hero__buttons {
    flex-direction: row;
    justify-content: center;
  }

  .hero__button {
    margin-right: 0;
    margin-left: 0;
  }

  .powered-by .powered-by__title {
    line-height: 110px;
  }

  .catalog ul {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }

  .features ul {
    grid-template-columns: repeat(3, 1fr);
  }

  .categories__list-desk {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .categories__list-desk li {
    flex: 1 1 calc(33.333% - 20px);
    max-width: 33.333%;
  }

   .categories__list-nominate{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: flex-start;
  }

 

  .categories__list-nominate li{
   max-width: 100%;
  }

  .criteria ul {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .criteria ul li {
    flex: 1 1 calc(33.333% - 20px);
    max-width: 33.333%;
  }

  .gallery {
    max-width: 100vw;
  }

  .footer__logo {
    display: block;
    max-width: 300px;
  }

  .footer__logo img {
    height: 100%;
  }

  .header__btn-menu {
    display: none;
  }

  .button__header {
    display: block;
    min-width: 170px;
    height: 35px;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    color: #000000;
    border-radius: 5px 0 5px 0;
    padding: 11px;
    margin-left: 40px;
  }

  .header__menu-lists {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    flex: 1 1 auto;
    gap: 30px;
  }

  .header__menu-lists li a {
    display: inline-flex;
    position: relative;
    align-items: center;
    font-weight: 400;
    font-size: 13px;
    line-height: 22.4px;
    text-transform: uppercase;
    color: #f5f5f5;
    transition: all 0.5s;
  }

  .menu-header {
    display: flex;
    margin-left: 200px;
  }

  .header__menu-lists li a:hover {
    color: #f2c94c;
  }

  
}

@media (max-width: 415px) {
  .swiper {
    max-width: 360px;
  }
}
@media (min-width:1100px) and (max-width: 1279px) {

 .footer__logo {
    display: block;
    max-width: 300px;
  }
}


@media (min-width: 1024px) and (max-width: 1100px) {
    .footer__logo {
        display: block;
        max-width: 200px;
    }
}
/* @media screen and (max-width: 544px) {
 .categories__list-nominate li{
   max-width: 100%;
           display: flex
;
        flex-direction: column;
  }} */

@media screen and (max-width: 544px) {
.vote-footer{
  bottom :7%;
max-width: 90%;
width: 92.5%;
        display: flex
;
    justify-content: center;
    
    margin: 0 auto;
    left: 20px;
}

/* .categories__list-all{
  margin-bottom: 35px;
} */

.hero__buttons .hero__button {
    min-width: 240px;

}}

@media screen and (max-width: 398px) {
  .footer__content {
    flex-direction: column;
    align-items: center;
  }

  .header__logo {
    max-width: 220px;
  }

  /* .categories__list-all{
  margin-bottom: 38px;
} */

  .vote-footer{
  bottom :10%;}
}

@media (max-width: 387px) {
  .swiper {
    max-width: 340px;
  }}

@media (max-width: 375px) {
  .vote-footer{
  
max-width: 80%;
width: 100%;}
}

@media (max-width: 365px) {
  .swiper {
    max-width: 320px;
  }
}

@media screen and (max-width: 356px) {
  .hero__button {
    min-width: 220px;
  }

  .hero__title {
    font-size: 90px;
  }

  .button__menu,
  .powered-by__button,
  .influence__button {
    min-width: 200px;
  }

  .categories__list {
    width: 95%;
  }

  .swiper {
    max-width: 300px;
  }

  .header__logo {
    max-width: 200px;
  }

  h2,
  .title.high {
    font-size: 32px;
  }

  .categories .categories__title-nominate {
    font-size: 25px;
  }
}
